<div class="row wrapper">
    <div class="background"></div>
    <div #elem class="parallax"></div>

    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Hey! My
            name is</p>
        <div class="name">
            <p class="p-name">vikrant kumar<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I'm a [fairly decent] human from Bangalore, India who loves problem solving.</p>
            <p class="p-second">I'm currently building awesome stuff at <a
                    href="https://www.goldmansachs.com/">goldman sachs</a>. You can
                find my <a href="/resume">resume here</a>.</p>
            <p class="p-third">I go by <a href="https://twitter.com/vikiwarrior" rel="nofollow">@vikiwarrior</a> on the
                interwebs.</p>
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>