.top {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: MyFont;
    color: #dddddd;
    margin: 32px;
    padding: 0;
  }
  


 .em{
  position: relative;
    color: #dddddd;
    z-index: 999;
  }

  
  .instructions{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px clamp(50px, 8%, 200px);
    font-size: 10px;
  }
  .overlay {
    height: 100%;
    width: 100%;
  }
  
  #tree-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: MyFont;
    color: #dddddd;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .italics {
    font-family: MyFontItalics;
  }
  
  
  .content {
    flex: 1;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  