<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me via email :
        </p>
        <a class="email-a" href="mailto:vikrant3302@gmail.com">
            <p class="email">vikrant3302@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/vikiwarrior" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/vikiwarrior/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/bored__art/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://dribbble.com/vikiwarrior" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="https://twitter.com/vikiwarrior" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://youtu.be/dQw4w9WgXcQ?t=43" target="_blank"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>