/* .big{
    height :2000px;
    width: 100px;
    background-color:aqua;
} */
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    
  }
  