<!-- <div class="big">djd</div> -->
<!-- <div #elem class="parallax"></div>
 -->

<div class="row wrapper">
    <div class="background"></div>

   <p class="top">dsfsafsfdddgdfgdfgdgdfgdfgdfgdfd</p>
    <div class="column-one">
        <p>reach me via email :
        </p>
        <p><a class="email" href="mailto:someone@example.com">vikrant3302@gmail.com
          
        </a></p>
       
       <br>
        <p>also available here :</p>

        <div class="hero">
          <ul class="social-links">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-github"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
      
            <!-- <div class="social-links">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-github"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div> -->
          </div>
          <div>
            
          </div>
    </div>
   



</div>