




.content {
  flex: 1;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.footer {
  height: 20px;
  background: blue;
  padding: 3px 5px;
  background-image: url("../assets/images/background.png");
  content: "ssss";
  background-color: #101010;
}
