<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <!-- <div class="shadow"></div> -->
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! my
            name is</p>
        <div class="name">
            <p class="p-name">vikrant kumar<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">i'm a [fairly decent] human from bangalore, india who loves problem solving.</p>
            <p class="p-second">i'm currently building awesome stuff at <a
                    href="https://www.goldmansachs.com/">goldman sachs</a>. you can
                find my <a href="/resume">resume here</a>.</p>
            <p class="p-third">i go by <a href="https://twitter.com/vikiwarrior" rel="nofollow">@vikiwarrior</a> on the
                interwebs.</p>
        </div>
    </div>
    <div class="column-two">
        <!-- <p class="temp">home works!</p>
        <div class="text">Orangeable</div> -->
        <!-- <div #elem class="parallax"></div> -->
    </div>
</div>